#app {
  color: white;
  margin: 1.5rem auto;
  max-width: 500px;
  padding: 1rem 1.5rem 1rem 1.5rem;

  h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05em;

    span {
      display: block;
      font-size: 0.7rem;
      margin: 0.3rem auto;
      margin-left: 0.4rem;
    }
  }

  h2 {
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-top: 1rem;
  }

  .btns-container {
    display: flex;
    height: 1.5rem;
  }

  .btn {
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 2px;
    outline: none;
    width: 10%;
  }

  .btn-selected {
    background: deepskyblue;
    color: white;
  }
}

@media screen and (min-width: 500px) {
  #app {
    border: 1.5px white solid;
  }
}
